// Theme Width.
$themeWidth: 1200px;

// Content Width.
$contentWidth: 720px;
$wideBlockWidth: 960px;

// Fullwidth Template.
$contentFullwidth: 1200px;
$wideBlockFullwidth: 1440px;

// Text Color
$textColor: #242424;

// Theme Colors
$themeColors: (
	--primary-color           : #ff7755,
	--secondary-color         : #d9512f,
	--accent-color            : #55aaff,
	--link-color              : #ff7755,
	--link-hover-color        : #242424,
	--button-color            : #ff7755,
	--button-text-color       : #fff,
	--button-hover-color      : #242424,
	--button-hover-text-color : #fff,
	--header-background-color : #fff,
	--header-text-color       : #242424,
	--header-text-hover-color : #ff7755,
	--header-border-color     : rgba(0, 0, 0, 0.1),
	--title-color             : #242424,
	--title-hover-color       : #ff7755,
	--footer-background-color : #d9512f,
	--footer-text-color       : #fff,
	--footer-link-color       : rgba(255, 255, 255, 0.6),
	--footer-link-hover-color : #fff,
);

// Basic Block Colors.
$whiteColor: #ffffff;
$lightGrayColor: #e5e5e5;
$darkGrayColor: #555555;
$blackColor: #242424;

// Theme Fonts
$baseFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$titleFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : bold,
	--navi-font-weight  : bold,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);
