@media only screen and (min-width: 800px) {
	.entry-content > .wp-block-group.has-background {
		padding: 2rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (min-width: 1120px) {
	.entry-content > .wp-block-group.has-background {
		padding: 2.5rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}
