@media only screen and (min-width: 640px) {
	.site-title {
		@include font-size(28);
	}

	.site-description {
		@include font-size(14);
	}

	.entry-title {
		@include font-size(32);
	}

	.entry-meta,
	.more-link,
	.pagination {
		@include font-size(16);
	}

	.widget-title,
	.archive-title,
	.comments-title,
	.comment-reply-title {
		@include font-size(20);
	}
}

@media only screen and (min-width: 960px) {
	.site-title {
		@include font-size(32);
	}

	.site-description {
		@include font-size(15);
	}

	.entry-title {
		@include font-size(36);
	}

	.entry-meta,
	.more-link,
	.pagination {
		@include font-size(17);
	}
}
