/* Fullwidth Page Layout */
body.fullwidth-page-layout .site-content .site-main {
	max-width: $contentFullwidth;
}

/* Adjust Wide Blocks */
@media only screen and (min-width: 960px) {
	body.fullwidth-page-layout .entry-content > .alignwide {
		margin-left: calc( -100vw / 2 + 100% / 2 + 8px );
		margin-right: calc( -100vw / 2 + 100% / 2 + 8px );
		max-width: 100vw;
	}
}

@media only screen and (min-width: 1440px) {
	body.fullwidth-page-layout .entry-content > .alignwide {
		margin-left: -120px;
		margin-right: -120px;
		max-width: $wideBlockFullwidth;
	}
}
