/* Media Blocks Spacing */
.wp-block-audio,
.wp-block-embed,
.wp-block-image,
.wp-block-gallery,
.wp-block-cover,
.wp-block-media-text {
	margin-bottom: 1.5em;
}

/* Cover Block */
.wp-block-cover,
.wp-block-cover-image {
	width: auto;
	padding: 1.25rem;

	> .wp-block-cover__inner-container > *:first-child {
		margin-top: 0;
	}

	> .wp-block-cover__inner-container > *:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 480px) {
	.wp-block-cover,
	.wp-block-cover-image {
		padding: 1.5rem;
	}
}

/* Video Embed Block */
.wp-block-embed-vimeo.alignfull iframe {
	width: 100%;
}
